* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Inter', sans-serif;
    background-color: #a11414;
    color: #333;
    padding: 20px;
  }
  
  header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #ca8695;
  }
  
  #searchInput {
    padding: 12px 20px;
    width: 300px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 30px;
    outline: none;
    transition: all 0.3s ease;
  }
  
  #searchInput:focus {
    border-color: #dd978e;
    box-shadow: 0 0 5px rgba(180, 146, 136, 0.5);
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
  }
  
  .product-card {
    background-color: #ebdede;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.05);
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  }
  
  .product-card img {
    max-width: 120px;
    height: auto;
    margin-bottom: 15px;
  }
  
  .product-card h3 {
    font-size: 1rem;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .product-card p {
    margin: 4px 0;
    font-size: 0.9rem;
    text-align: center;
  }
  
  footer {
    text-align: center;
    margin-top: 50px;
    font-size: 0.9rem;
  